<%- include('partials/head') %>


    <%- include('partials/navbar') %>

        <h1>The Home Page <%= 4 + 5 + 1 %>
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, quo? Et voluptatibus dolore
            repudiandae
            a
            quae praesentium animi cum eum hic incidunt, exercitationem aliquam quo cupiditate at doloribus esse
            suscipit.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate blanditiis eos consectetur laborum
            ipsum
            libero sit qui deleniti rerum eum, magni quo assumenda debitis labore rem reiciendis. Nisi, cum sint?
        </p>
        <%- include('partials/footer') %>